<%- include("../partials/header") %>
</div>

  <!-- food section -->

  <section class="cart container mt-2 my-3 py-5">
    <div class="container mt-2 text-center">
        <h4>Thank you</h4>
        <h2>Your order id is : <%= order_id %></h2>
        <h3>We will deliver your products within 2 business days</h3>
    </div>
  </section>


  <!-- end food section -->

  <%- include("../partials/footer") %>

